# ThAW 2017/09/15 : Make a link in /etc/systemd/system/ (via ln -sf) that points to /var/www/apps/rails-blog/install/rails-blog.service , then fix the link's SELinux attributes with chcon, then run:
# $ sudo systemctl daemon-reload
# $ sudo systemctl enable rails-blog.service
# $ sudo systemctl start rails-blog.service

[Unit]
Description=Rails Tutorial Blog Example
Wants=nginx.service postgresql.service
After=nginx.service postgresql.service

[Service]
Type=oneshot
RemainAfterExit=true
# Restart=always
User=deployer
# Group=nginx		# Is this necessary? Apparently not.
PIDFile=/var/www/apps/rails-blog/tmp/pids/rails-blog.pid
WorkingDirectory=/var/www/apps/rails-blog
SyslogIdentifier=rails-blog
ExecStart=/bin/bash -lc 'bundle exec "unicorn_rails -D -c /var/www/apps/rails-blog/install/unicorn.rb -E development"'
# ExecStart=/bin/bash -lc 'bundle exec "unicorn_rails -D -c /var/www/apps/rails-blog/install/unicorn.rb -E production"'

[Install]
WantedBy=multi-user.target
